.modal {
  display: flex;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  color: white;
}
.modal-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.modal-title {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  font-size: xx-large;
}

.modal-header > span {
  display: flex;
  justify-content: flex-end;
}
.modal-content {
  background-color: #0ea5e9;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: transparent;
  width: 80%;
  border-radius: 15px;
  /* Could be more or less, depending on screen size */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.modal.closed {
  display: none;
}